.social-btn {
  color: black;
  background-color: #00aced
  text-align: center;
  height: 35px;
  width: 1500px;
  padding: 7.5 7.5 7.5 7.5;
  border-width: thin;
  border-style: solid;
  border-color: #610B21;
}
